@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@layer components {
	.input__style {
		@apply w-full p-3;
	}
}

body {
	font-family: 'Inter', sans-serif;

	span {
		font-family: 'Inter', sans-serif;
	}
}

.profile__modal .ant-modal-footer {
	display: none;
}

.bg__color {
	background-image: linear-gradient(to right bottom,
			#003daf,
			#0064c8,
			#0085d4,
			#00a3d5,
			#00bfd4,
			#00bfd4,
			#00bfd4,
			#00bfd4,
			#00a3d5,
			#0085d4,
			#0064c8,
			#003daf);
}

.create__service--form {
	.ant-select-selector {
		padding: 23px 12px !important;
	}

	.ant-select-arrow {
		margin-top: 2px !important;
	}

	.categoryId {
		.ant-form-item-explain-error {
			margin-top: 12px !important;
		}
	}
}

.avatar-uploader {
	text-align: center !important;

	.ant-upload.ant-upload-select {
		width: 30px !important;
		height: 30px !important;
		display: inline-block;
		margin: 60px auto 0 auto;
	}

	.ant-upload-list-item-error {
		border-color: gray !important;
	}

	.ant-tooltip {
		display: none !important;
	}

	.ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-container {
		width: 150px !important;
		height: 150px !important;
	}

	.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
		border-color: #d9d9d9 !important;
	}
}
.select__language {
	.ant-select-selector {
		border: none !important;
	}

	.ant-select-arrow {
		display: none !important;
	}

	.ant-select-selection-item {
		text-align: center;
	}
}